# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.obj
/projects/atLib/Debug/*.exe
/projects/atLib/Debug/*.log
/projects/atLib/x64/Release/aberrant.5910BD68.tlog/*.lastbuildstate
*.tlog
*.pdb
*.enc
*.suo
*.opendb
*.db
*.idb
*.ilk
*.log
/aberrantToothbrushLibrary.sln
/projects/atLib/*.vcxproj
/projects/atLib/*.filters
/projects/atLib/*.user
*.vcxproj
*.filters
*.user
/builds/output/_Debug/Debug/atLib/*.cache
/builds/output/_Release/Release/atLib/*.cache

# Makefiles
**/Makefile
